/* General stuff */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: regular;
    src: url(./fonts/regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(./fonts/medium.ttf);
}

/* Header */

.header-main-div {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B5DCCA;
    color: black;
    font-family: medium;
    font-size: 2.3vh;
    border-bottom: 3px solid #62BE9A;
    color: white;
}

/* Footer */

.footer-main-div {
    width: 100vw;
    height: 8vh;
    background-color: #B5DCCA;
    font-family: medium;
    font-size: 2.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #62BE9A;
    color: white;
}

/* Body */

.main-body-div {
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    background-color: white;
}

.body-div-one {
    padding: 1.5vh;
    border-radius: 10px;
    background-color: #B5DCCA;
    border: 3px solid #62BE9A;
    color: white;
}

.body-div-two {
    text-align: center;
    background-color: #B5DCCA;
    border: 3px solid #62BE9A;
    border-radius: 10px;
    margin-top: 1.5vh;
    color: white;
}

.map {
    border-radius: 10px;
    margin-bottom: 1.5vh;
}

.map-h2 {
    text-align: left;
    padding-left: 2vh;
    margin-bottom: 2vh;
    font-family: medium;
    margin-top: 2vh;
}

.p-text {
    font-size: 3vh;
    font-family: regular;
}

.h2-heading {
    font-family: medium;
}

/* Media Queries */

@media only screen and (orientation: landscape) {
    .body-div-one {
        width: 47vw;
        padding: 0;
        height: 75vh;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-main-div {
        font-size: 3vh;
    }

    .body-div-two {
        width: 47vw;
        padding: 0;
        height: 75vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .map-h2 {
        margin-top: 2vh;
        font-size: 5vh;
    }
    
    .h2-heading {
        margin-top: 2vh;
        font-size: 5vh;
    }

    .p-text {
        font-size: 3.5vh;
    }

    .main-body-div {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
    }

    .footer-main-div {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}